[Desktop Entry]
Version=1.0
Type=Application
Name=Clock X Overlay
Comment=OSD clock overlay for Linux X11 desktops
Exec=clock-x-overlay
Icon=clock
Terminal=false
Categories=Utility;Clock;
StartupNotify=false
X-GNOME-Autostart-enabled=true
